*{
    margin: 0%;
    padding: 0px;
    box-sizing: border-box;
}
.welcome{
    color: rgb(40, 163, 251);
    font-family: sans-serif;
    margin-left: 30px;
}
.admin-table{
    margin: auto;
    margin-top: 20px;
    font-family: 'Times New Roman', Times, serif;
    justify-content: space-around;
    width: 90%;
    text-align: center;
    color: white;
    font-size: 22px;
    background-position: right;
    background-image: url('https://e1.pxfuel.com/desktop-wallpaper/89/562/desktop-wallpaper-do-everything-that-windows-or-linux-system-administrator-or-admin-suppose-to-do-by-zeeshankhalid07.jpg');
}
.admin-table th{
    padding: 15px;
    border: 1px solid black;

}
.admin-table td{
    padding: 15px;
    border: 1px solid black;
}
.admin-table button{
    padding: 5px;
    border: 0px;
    background-color: rgb(254, 232, 203);
    border-radius: 8px;
}