*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.varifyadmin-div{
    margin: auto;
    height: 420px;
    width: 80%;
    padding: 10px;
    border: 1px solid black;
    justify-content: space-around;
    display: grid;
    grid-template-columns: 500px 300px;
    text-align: center;

}
/* .varifyadmin-div div{
    text-align: center;
} */
.login-div{
    width: 300px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 25px;
}
.login-div h5{
    color: rgb(3, 111, 199);
    margin-top: 35px;
    text-decoration-line: underline;
    text-decoration-style: double;
}
.login-div form{
    margin-top: 35px;
    display: grid;
    grid-template-rows: 65px 65px 40px 40px;
    justify-content: space-around;
}
.login-div form input{
    width: 250px;
    height: 40px;
    text-align: center;
    border-radius: 30px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}