.post-blog{
    text-align: center;
    font-family: serif;
    font-size: x-large;
    background-image: url('https://media.istockphoto.com/id/1450178479/photo/change-concepts-with-yellow-paper-airplane-leading-among-white-on-blue-background.jpg?b=1&s=170667a&w=0&k=20&c=1BYT0dhQxkQjZTzz339eC_LbRFD-xpqXCFNa75Ek40E=');
    
}

.post-blog form{
    margin-left: 124px;
    display: grid;
    grid-template-columns: 600px;
}
.post-blog form div{
    display: grid;
    grid-template-columns: 300px 300px;
    padding: 10px;
}
.post-blog form div input{
    width: 500px;
    text-align: center;
    height: 40px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-radius: 20px;
}
.post-blog form div select{
    width: 500px;
    text-align: center;
    height: 40px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-radius: 20px; 
}
.post-blog form textarea{
    width: 500px;
}
.post-blog form input[type=submit]{
    height: 40px;
    border-radius: 8px;
    margin-top: 30px;
    margin-left: 220px;
}